@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inconsolata:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}
